In [1]:
import tensorflow as ts
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

WARNING:tensorflow:From c:\Users\HP\OneDrive\Desktop\Ann Classification\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
## load the ann train model , scaler , onehot encoding, label encoding
model=load_model('model.h5')

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)
with open('oh_encoder_geo.pkl','rb') as file:
    oh_encoder_geo=pickle.load(file)
with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

WARNING:tensorflow:From c:\Users\HP\OneDrive\Desktop\Ann Classification\venv\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [3]:
#Example of input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [4]:
geo_encoded=oh_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=oh_encoder_geo.get_feature_names_out())

c:\Users\HP\OneDrive\Desktop\Ann Classification\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [5]:
input_data=pd.DataFrame([input_data])

In [6]:
input_data=pd.concat([input_data.reset_index(drop=True),geo_encoded_df],axis=1)

In [7]:
# encode gender feature
input_data['Gender']=label_encoder_gender.transform(input_data['Gender'])

In [8]:
input_data.drop('Geography',axis=1,inplace=True)

In [9]:
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [10]:
## Scaling the data 
input_scaled=scaler.transform(input_data)

In [11]:
## Predict chur 
prediction=model.predict(input_scaled)

1/1 [==============================] - 0s 219ms/step

In [12]:
prediction

array([[0.03232004]], dtype=float32)

In [13]:
pred_probability=prediction[0][0]

In [14]:
if pred_probability>.5:
    print("The customer is likely to churn.")
else:
    print("The customer is not likely to churn.")

The customer is not likely to churn.